<div class="hub-container">
  <h2>Hub de Navegação</h2>
  <p-button type="button" label="Home" (click)="navigateTo('/home')"></p-button>
  <p-button
    type="button"
    label="Profile"
    (click)="navigateTo('/profile')"
  ></p-button>
  <p-button type="button" label="Adm" (click)="navigateTo('/admin')"></p-button>
  <p-button
    type="button"
    label="Gerente"
    (click)="navigateTo('/gerente')"
  ></p-button>
  <p-button type="button" label="Logout" (click)="logout()"></p-button>
</div>
